<footer>
<div class="menu">
  <h1>Kafé com Afeto</h1>
  <nav>
    <ul>
      <li><a routerLink="catalog">Catálogo</a></li>
      <li><a routerLink="celebratory">Datas Comemorativas</a></li>
      <li><a routerLink="corporate">Coporativo</a></li>
      <li><a routerLink="contact">Contato</a></li>
      <li><a routerLink="contact">Envio e Devoluções</a></li>
      <li><a routerLink="contact">Métodos de Pagamento</a></li>
    </ul>
  </nav>
</div>
<div class = "networks">
  <h2>kafecomafeto@gmail.com</h2>
  <h3>(81) 98604-9432</h3>
  <p><span>@kafecomafeto</span> &copy;2023</p>
</div>
<div class="icons">
  <div class="social-icons">
    <li><a><fa-icon [icon] = "faInstagram" id="icon" (click)="openInstagram()"></fa-icon></a></li>
    <li><a><fa-icon [icon] = "faWhatsapp" id="icon" (click)="openWhatsapp()"></fa-icon></a></li>
  </div>
</div>
</footer>
<div class="whatsapp-button">
  <a href="https://wa.me/5581987307348" target="_blank">
    <fa-icon [icon] = "faWhatsapp"></fa-icon> Fale conosco pelo WhatsApp
  </a>
</div>
