  <div class="form-lg">
    <form>
      <button class="exit">
      </button>
      <h1>Fale Conosco</h1>
      <hr>
      <div class="form-name">
        <label>Nome:</label>
        <input type="text">
      </div>
      <div class="form-email">
        <label>E-mail:</label>
        <input type="email">
      </div>
      <div class="form-number">
        <label>Telefone:</label>
        <input type="number">
      </div>
      <div class="form-coments">
        <label>Comentários:</label>
        <textarea name="comentario" rows="5" cols="50">Digite seu comentário aqui</textarea>
      </div>
      <div class="form-button">
        <button type="submit">ENVIAR</button>
      </div>
    </form>
  </div>
  <div class="whatsapp-button">
    <a href="https://wa.me/5581987307348" target="_blank">
      <fa-icon [icon] = "faWhatsapp"></fa-icon> Fale conosco pelo WhatsApp
    </a>
  </div>

