<div class="overlay">
  <div class="buy">
     <button class="exit">
      <fa-icon [icon] = "faTimes" id="faTimes"></fa-icon>
    </button>
    <div class="shopping-title">
      <h1>SEU CARRINHO DE COMPRAS</h1>
    </div>
    <hr>
    <div class="shopping">
      <div class="shopping-cart">
        <div class="itens">
          <div class = "description-menu">
            <p>Produto</p>
            <p>Descrição</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p></p>
          </div>
          <div class="description">
            <div class="iten-one">
              <img src="/assets/cestaOne.jpeg" id="cesta-one">
              <p>Café da Manhã 1</p>
              <p>R$140,00</p>
              <div class="bt-quant">
                <button>-</button>
                  <span>2</span>
                <button>+</button>
              </div>
              <fa-icon [icon] = "faTrash" id="faTrash"></fa-icon>
            </div>
            <div class="iten-two">
              <img src="/assets/cestaOne.jpeg" id="cesta-one">
              <p>Café da Manhã 1</p>
              <p>R$140,00</p>
              <div class="bt-quant">
                <button>-</button>
                  <span>2</span>
                <button>+</button>
              </div>
              <fa-icon [icon] = "faTrash" id="faTrash"></fa-icon>
            </div>
            <div class="iten-three">
              <img src="/assets/cestaOne.jpeg" id="cesta-one">
              <p>Café da Manhã 1</p>
              <p>R$140,00</p>
              <div class="bt-quant">
                <button>-</button>
                  <span>2</span>
                <button>+</button>
              </div>
              <fa-icon [icon] = "faTrash" id="faTrash"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="shopping-resumo">
        <div class="resumo">
          <h1>Resumo das compras</h1>
          <hr>
          <div class="subtotal">
            <p>Subtotal</p>
            <p>R$ 140,00</p>
          </div>
          <div class="additional">
            <p>Adicionais</p>
            <p>R$ 0,00</p>
          </div>
          <div class="freight">
            <p>Frete</p>
            <p>R$20,00</p>
          </div>
          <div class="total">
            <p>Total</p>
            <p>R$ 160,00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
