<div class="overlay">
  <div class="form-lg">
    <form>
      <button class="exit">
      <fa-icon [icon] = "faTimes" id="faTimes"></fa-icon>
      </button>
      <h1>ENTRE NA SUA CONTA:</h1>
      <hr>
      <div class="form-login">
        <input type="email"  placeholder="E-mail">
      </div>
      <div class="form-senha">
        <input type="password"placeholder="Senha" name="senha">
      </div>
      <div class="form-button">
        <button type="submit">ENTRAR</button>
      </div>
      <div class="form-senha">
        <a routerLink="#">Esqueci minha senha</a>
      </div>
      <hr>
      <div class="form-new">
      <p>Novo por aqui?<a routerLink="#"> Crie sua conta.</a></p>
      </div>
    </form>
  </div>
</div>
